.primary-button {
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 8px;
    width: fit-content;
    transition: ease-in 0.1s;
}

.primary-color:hover {
    background-color: var(--primary-light);
}

.primary-color {
    background-color: var(--primary);
}

.secondary-color {
    background-color: var(--secondary);
}

.secondary-color:hover {
    background-color: var(--secondary-light);
}